/* $Id: charts_graphs_bluff.css,v 1.1.2.1 2010/07/01 21:24:16 rsevero Exp $ */

table.bluff-data-table {
  left: -9999px;
  position: absolute;
}

ul.bluff-legend {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.bluff-legend li {
  height: 16px;
  line-height: 16px;
  list-style-type: none; 
  margin: 2px 0;
  padding: 0 0 0 18px;
  position: relative;
}

ul.bluff-legend li div {
  height: 16px;
  left: 0;    
  position: absolute;
  top: 0;
  width: 16px;
}
