/* $Id: quicktabs.css,v 1.1.2.6 2009/07/18 02:42:16 pasqualle Exp $ */

.quicktabs-hide {
  display: none;
}

ul.quicktabs_tabs {
  margin-top: 0;
}
ul.quicktabs_tabs li {
  display: inline;
  background: none;
  list-style-type: none;
  padding: 2px;
  white-space: nowrap;
}
ul.quicktabs_tabs li a:focus {
  outline: none;
}
