/* $Id: alfresco.css,v 1.1.2.1 2010/04/26 12:33:02 xergius Exp $ */

#alfresco-teaser {
  margin: 0.6em 0;
}

ul.links li.alfresco_download {
  background: transparent url(images/download.gif) no-repeat;
  padding-left: 1.5em;
  padding-top: 0.2em;
}
