/* $Id: garland-rtl.css,v 1.1.2.1 2008/12/12 17:02:36 pasqualle Exp $ */

ul.quicktabs_tabs.quicktabs-style-garland li {
  float: right;
}

ul.quicktabs_tabs.quicktabs-style-garland li a:link,
ul.quicktabs_tabs.quicktabs-style-garland li a:visited {
  padding: 8px 11px 4px 12px;
}
