/**
 * Views styling
 */

.view-subscribed-sites .icon {
  margin: 5px;
  width: 50px;
  height: 50px;
  display: block;
  float: right;
}

.view-subscribed-sites .drupal {
  background: url('images/drupal_icon.gif') no-repeat;
}

.view-subscribed-sites .moodle {
  background: url('images/moodle_icon.jpg') no-repeat;
}

.view-subscribed-sites .view-content .views-row {
  margin:5px;
  padding:2px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #086782;
}

.view-subscribed-sites .views-field-nothing {
  clear:left;
}

.view-subscribed-sites .views-field-field-thumbnail-fid {
  float: left;
  margin-right: 5px;
  padding: 5px;
}

.view-subscribed-sites .views-field-field-thumbnail-fid a {
  border: 0;
}

.view-subscribed-sites .views-field-field-thumbnail-fid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 3px #666;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.view-subscribed-sites .views-field-title {
  font-size: 16px;
  margin-bottom: 10px;
  padding-top: 20px;
}

.view-subscribed-sites .views-field-title a {
  font-weight: bold;
  margin-bottom: 20px;
  margin-right: 20px;
}

.view-subscribed-sites .views-field-field-site-environment-value  {
  border: 1px solid #ccc;
  padding: 2px;
  color: #C2592C;
}

.view-subscribed-sites .views-field-field-site-environment-value .field-content {
  font-weight: bold;
}

.view-subscribed-sites .view-field-field-servername-value {
  margin-top: 10px;
  padding-top: 10px;
}

.view-subscribed-sites .views-field-nothing {
  clear:left;
}

.view-glance .tick{
  background: url('images/icons/tick.png') no-repeat;
  padding-left: 20px;
}

.view-glance .old {
  background: url('images/icons/error.png') no-repeat;
  padding-left: 20px;
}

.view-glance .right {
  float: right;
}


/**
 * Block styling
 */

.archimedes-administer-site a {
  padding:1em;
  border: 1px solid #ccc;
  display:block;
  background-color:#F3F3F3;
  margin: 1em 0;
  font-weight:bold;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.archimedes-administer-site a:hover {
  background-color:#eee;
  border: 1px solid #ccc;
}

.field-field-thumbnail .field-item {
  text-align: center;
}

.field-field-thumbnail img {
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  border: 1px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.field-field-thumbnail a {
  border: 0;
}

#tabs-tabs {
  min-height: 330px;
}


